<table class="table">
  <thead>
  <tr>
    <th colspan="2" class="title"><?=_Add Email?></th>
  </tr>
  </thead>
<tbody>
  <tr>
    <td><?=_Email Addresses?> </td>
    <td><input type="text" name="newemail" value=""></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="addmail" value="<?=_I own or am authorised to control this email address?>"></td>
  </tr>
</tbody>
</table>
