<table class="wrapper dataTable">
<tr><th><?=_Name?></th><th><?=_Email?></th><th></th></tr>
<? foreach($users) { ?>
<tr><td><?=$name?></td><td><?=$email?></td><td><a href="/admin/ttp/<?=$id?>">Process</a></td></tr>
<? } ?>
</table>
<? if($next) { ?>
<a href="?offset=<?=$next?>"><?=_next?></a>
<? } ?>
