<form method='post'>
<table class="table">
<tr><td>
Batch create users:
</td><td></td><td>
<div>
  Email: 
  <input type="text" name="prefix"/> NNN@
  <input type="text" name="suffix"/>
</div>
Amount:  <input type="slider" name="amount"/> <input type="submit" name="create" value="Create Users"/>
</td></tr>

<tr><td>
Add privilege:
</td><td>
Email: <input type="text" name="email"/> 
</td><td>
<select name="priv">
<option>supporter</option>
<option>arbitrator</option>
<option>blockedassuree</option>
<option>blockedassurer</option>
<option>blockedlogin</option>
<option>ttp-assurer</option>
<option>ttp-applicant</option>
<option>nucleus-assurer</option>
<option>codesigning</option>
<option>orgassurer</option>
</select>
<input type="submit" name="addpriv" value="Grant Privillege"/>
<input type="submit" name="delpriv" value="Revoke Privillege"/>
</td><tr>

<tr><td>
Receive Mails:
</td><td>
Email: <input type="text" name="femail"/>
</td><td>
<input type="submit" value="Receive Mails" name="fetch"/>
</td><tr>

<tr><td>
Add CATs entry:
</td><td>
Email: <input type="text" name="catsEmail"/>
</td><td>
<select name="catsType">
<? foreach($cats_types) { ?>
<option value="<?=$id?>"><?=$name?></option>
<? } ?>
</select>
<input type="submit" value="Add CATs" name="cats"/>
</td></tr>
<tr><td>
Add 100 Assurance points:
</td><td>
Email: <input type="text" name="assureEmail"/>
</td><td>
Verification Points to issue: <input type="text" name="verificationPoints" value="100"/>
<input type="submit" value="Add Points" name="assure"/>
</td></tr>

<tr><td>
Assure 25 others (get 25 experience points)	:
</td><td>
Email: <input type="text" name="letassureEmail"/>
</td><td>
<input type="submit" value="Add 25 experience Points" name="letassure"/>
</td></tr>

<tr><td>
Add verified Email:
</td><td>
Email: <input type="text" name="addEmailEmail"/>
</td><td>
new Email: <input type="text" name="addEmailNew"/>
<input type="submit" value="Add verified Email" name="addEmail"/>
</td></tr>

<tr><td>
Add Client Cert:
</td><td>
Email: <input type="text" name="addCertEmail"/>
</td><td>
<input type="submit" value="Add an certificate" name="addCert"/>
</td></tr>

<tr><td>
Exempt Domain from Pinging:
</td><td>
</td><td>
Domain: <input type="text" name="exemtDom"/>
<input type="submit" value="Exempt this domain from pings" name="addExDom"/>
<input type="submit" value="Do not exempt this domain from pings" name="delExDom"/>
</td></tr>
</table>

<table>
<tr><th colspan="2">
Test server settings
</th></tr>

<tr><td>
Time for valid tests
</td><td>
<?=$testValidMonths?> months
</td></tr>

<tr><td>
Time between two verifications
</td><td>
<?=$reverificationDays?> days
</td></tr>

<tr><td>
Time that a verification is considered recent
</td><td>
<?=$verificationFreshMonths?> months
</td></tr>

<tr><td>
Maximum time that a verification is accepted
</td><td>
<?=$verificationMaxAgeMonths?> months
</td></tr>
</table>
