<table class="wrapper dataTable">
<tr>
<th colspan="7"><?=_Assurances?></th>
</tr>
<tr>
<td><?=_Id?></td>
<td><?=_Date?></td>
<td><?=_From?></td>
<td><?=_To?></td>
<td><?=_Points?></td>
<td><?=_Location?></td>
<td><?=_Method?></td>
</tr>
<? foreach($assurances) {?>
<tr>
<td><?=$id?></td>
<td><?=$date?></td>
<td><?=$from?></td>
<td><?=$to?></td>
<td><?=$points?></td>
<td><?=$location?></td>
<td><?=$method?></td>
</tr>
<? } ?>
</table>