<table align="center" valign="middle" border="0" cellspacing="0" cellpadding="0" class="wrapper dataTable">
  <tr>
    <th><?=_Name?></th>
    <th><?=_Master?></th>
  </tr>
<? foreach($admins) { ?>
  <tr>
    <td><?=$name?></td>
    <td><?=$master?></td>
  </tr>
<? } ?>
</table>
<?=_Add new admin?>:
<input type="text" name="email">
<?=_Master?>?
<input type="checkbox" name="master" value="y">
<input type="submit" name="affiliate" value="<?=_Add?>">
