<table align="center" valign="middle" border="0" cellspacing="0" cellpadding="0" class="wrapper dataTable">
  <tr>
    <th><?=_Domain Name?></td>
    <td><input type="text" name="domain"></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" name="addDomain" value="<?=_Add?>"></td>
  </tr>
</table>
