<table class="table">
  <tr>
    <th><?=_Domain Name?></td>
    <td><input type="text" name="domain"></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" name="addDomain" value="<?=_Add?>"></td>
  </tr>
</table>
