<table align="center" valign="middle" border="0" cellspacing="0" cellpadding="0" class="wrapper dataTable">
<? foreach($orgas) { ?>
  <tr>
    <td><?=$country?></td>
    <td><a href='orga/<?=$id?>'><?=$name?></a></td>
  </tr>
<? } ?>
</table>
