# Compiled Object files
*.class

# Compiled Bundle files
*.jar
*.war

# Generated Stuff
*.manifest

#OS stuff
.DS_Store

/bin
/bintest
/binutil
/binutil-testing
/lib/bin
/work
static.tar.gz

/src/org/cacert/gigi/util/effective_tld_names.dat
Gigi.MF

/signer
