<table class="table">
  <tr>
    <th><?=_Add Domain:?></td>
    <td><input class="form-control" type="text" name="domain"></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="btn btn-primary" type="submit" name="addDomain" value="action"><?=_Add?></button></td>
  </tr>
</table>
