<button class="btn btn-danger btn-confirm" data-confirm="<?=_Do you really want to revoke this certificate??>" data-reply="<?=_Cancel?>,<?=_Confirm?>" type="submit" name="action" value="revoke"><?=_Revoke Certificate?></button>
