<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>JAVA_HOME</name>
          <description></description>
          <defaultValue>/usr/local/jvm/openjdk-1.8.0-internal</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>BRANCH</name>
          <description>The branch to build from.</description>
          <defaultValue>master</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>TARGET</name>
          <description>The target.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>develop</string>
              <string>release</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>$$$$YOUR_REFERENCE_GIT_REPO$$$$</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$BRANCH</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Java 8 OpenJDK</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>@midnight</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cat &lt;&lt;EOT &gt;keys/config
DOMAIN=$$$$YOUR_LOOKUP_DOMAIN$$$$
KEYSIZE=4096
EOT
cat &lt;&lt;EOT &gt;config/test.properties
type=autonomous
java=/usr/local/jvm/openjdk-1.8.0-internal/bin/java -cp gigi.jar:$$$$SQL_CONNECTOR_PATH$$$$ org.cacert.gigi.Launcher
serverPort.https=4448
serverPort.http=8098
mailPort=8473
sql.driver=com.mysql.jdbc.Driver
sql.url=jdbc:mysql://localhost:3306/cacert
sql.user=cacert
sql.password=$$$$sql password$$$$
name.static=static.$$$$YOUR_LOOKUP_DOMAIN$$$$
name.secure=secure.$$$$YOUR_LOOKUP_DOMAIN$$$$
name.www=www.$$$$YOUR_LOOKUP_DOMAIN$$$$
name.api=api.$$$$YOUR_LOOKUP_DOMAIN$$$$

domain.manage=http://$$$$YOUR_TESTSERVICE$$$$/dyn-txt.php?token=$$$$managementToken$$$$&amp;
domain.http=$$$$YOUR_TESTSERVICE_HTTP$$$$
domain.dnstest=$$$$YOUR_TESTSERVICE_ZONE$$$$
domain.testns=$$$$YOUR_TESTSERVICE_AUTH_NAMESERVER$$$$
EOT
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant plugin="ant@1.2">
      <targets>$TARGET</targets>
      <antOpts>-Dfile.encoding=UTF-8</antOpts>
      <buildFile>build.xml</buildFile>
      <properties>juintexec=$$$$JUNIT_PATH$$$$
mysqlconnector=$$$$SQL_CONNECTOR_PATH$$$$</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>junit/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>natives/*.so,gigi.jar,gigi-linux_amd64.zip,static.tar.gz</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Fingerprinter>
      <targets></targets>
      <recordBuildArtifacts>true</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
  </publishers>
  <buildWrappers/>
</project>