<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>50</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>20</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>TARGET</name>
          <description>The target.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>develop</string>
              <string>release</string>
              <string>pack-testing</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description>The branch to build from.</description>
          <defaultValue>$GERRIT_PATCHSET_REVISION</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JAVA_HOME</name>
          <description></description>
          <defaultValue>/usr/lib/jvm/openjdk-8-jdk-gigi</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.6">
    <scms>
      <hudson.plugins.git.GitSCM plugin="git@3.5.1">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>gerrit:nre</url>
            <credentialsId>gerrit-key</credentialsId>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>nre</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@3.5.1">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <refspec>+refs/heads/*:refs/remotes/origin/* +refs/changes/*:refs/changes/*</refspec>
            <url>gerrit:gigi</url>
            <credentialsId>gerrit-key</credentialsId>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>$BRANCH</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>gigi</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
          <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
        </extensions>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <assignedNode>gigi-builder</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Java 8 OpenJDK</jdk>
  <triggers>
    <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger plugin="gerrit-trigger@2.21.1">
      <spec></spec>
      <gerritProjects>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
          <compareType>PLAIN</compareType>
          <pattern>gigi</pattern>
          <branches>
            <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
              <compareType>ANT</compareType>
              <pattern>**</pattern>
            </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
          </branches>
          <disableStrictForbiddenFileVerification>false</disableStrictForbiddenFileVerification>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
      </gerritProjects>
      <skipVote>
        <onSuccessful>false</onSuccessful>
        <onFailed>false</onFailed>
        <onUnstable>false</onUnstable>
        <onNotBuilt>false</onNotBuilt>
      </skipVote>
      <silentMode>false</silentMode>
      <notificationLevel></notificationLevel>
      <silentStartMode>false</silentStartMode>
      <escapeQuotes>true</escapeQuotes>
      <nameAndEmailParameterMode>PLAIN</nameAndEmailParameterMode>
      <dependencyJobsNames></dependencyJobsNames>
      <commitMessageParameterMode>BASE64</commitMessageParameterMode>
      <changeSubjectParameterMode>PLAIN</changeSubjectParameterMode>
      <buildStartMessage></buildStartMessage>
      <buildFailureMessage></buildFailureMessage>
      <buildSuccessfulMessage></buildSuccessfulMessage>
      <buildUnstableMessage></buildUnstableMessage>
      <buildNotBuiltMessage></buildNotBuiltMessage>
      <buildUnsuccessfulFilepath></buildUnsuccessfulFilepath>
      <customUrl></customUrl>
      <serverName>gerrit</serverName>
      <triggerOnEvents>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginPatchsetCreatedEvent>
          <excludeDrafts>false</excludeDrafts>
          <excludeTrivialRebase>false</excludeTrivialRebase>
          <excludeNoCodeChange>false</excludeNoCodeChange>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginPatchsetCreatedEvent>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginCommentAddedContainsEvent>
          <commentAddedCommentContains>jenkins, please rebuild</commentAddedCommentContains>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginCommentAddedContainsEvent>
      </triggerOnEvents>
      <dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
      <triggerConfigURL></triggerConfigURL>
      <triggerInformationAction/>
    </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
  </triggers>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># --- generating and installing keys
cd nre
cat &lt;&lt;EOT &gt;config
DOMAIN=$$$$YOUR_LOOKUP_DOMAIN$$$$
KEYSIZE=1024
EOT
./all root 2015 $(date +%Y)

cd ../gigi
for i in ../nre/generated/gigi-*.tar.gz; do
  tar xf &quot;$i&quot;
done

mkdir -p signer
cd signer
for i in ../../nre/generated/signer-server-*.tar.gz; do
  tar xf &quot;$i&quot;
done
cd ..

cd config
DOMAIN=$$$$YOUR_LOOKUP_DOMAIN$$$$ ./generateTruststoreNRE.sh
cd ..

# --- config gigi
cat &lt;&lt;EOT &gt;config/test.properties
type=autonomous
java=/usr/lib/jvm/openjdk-8-jdk-gigi/bin/java -cp bintest:gigi-testing.jar:/usr/share/java/postgresql-jdbc4.jar -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:50002 -javaagent:/usr/share/java/jacocoagent.jar club.wpia.gigi.TestLauncher
serverPort.https=4448
serverPort.http=8098
mailPort=8473
sql.driver=org.postgresql.Driver
sql.url=$$$$sql url$$$$
sql.user=$$$$sql user$$$$
sql.password=$$$$sql password$$$$
name.suffix=$$$$YOUR_LOOKUP_DOMAIN$$$$
name.static=static.$$$$YOUR_LOOKUP_DOMAIN$$$$
name.secure=secure.$$$$YOUR_LOOKUP_DOMAIN$$$$
name.www=www.$$$$YOUR_LOOKUP_DOMAIN$$$$
name.api=api.$$$$YOUR_LOOKUP_DOMAIN$$$$

domain.manage=http://$$$$YOUR_TESTSERVICE$$$$/dyn-txt.php?token=$$$$managementToken$$$$&amp;
domain.http=$$$$YOUR_TESTSERVICE_HTTP$$$$
domain.dnstest=$$$$YOUR_TESTSERVICE_ZONE$$$$
domain.testns=$$$$YOUR_TESTSERVICE_AUTH_NAMESERVER$$$$
domain.local=test.$$$$YOUR_LOOKUP_DOMAIN$$$$
domain.localHTTP=8081
domain.CAAtest=$$$$+positive.domain -negative.domain$$$$

email.address=$$$$YOUR_IMAP_EMAIL$$$$
email.password=$$$$YOUR_IMAP_PASSWORD$$$$
email.imap=$$$$YOUR_IMAP_SERVER$$$$
email.imap.user=$$$$YOUR_IMAP_USERNAME$$$$
email.non-address=$$$$IMAP_NON_EXISTENT_ADDRESS$$$$
emailProvider.smtpHost=$$$$YOUR_OUTBOUND_SMTP_HOST$$$$
emailProvider.smtpPort=25

EOT
cat &lt;&lt; EOT &gt; publicSuffixFooter.dat

$$$$YOUR_LOOKUP_DOMAIN$$$$
EOT
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant plugin="ant@1.3">
      <targets>build-testing-l10n $TARGET generatecoco</targets>
      <antOpts>-Dfile.encoding=UTF-8</antOpts>
      <buildFile>gigi/build.xml</buildFile>
      <properties>jdt=$$$$JDT_PATH$$$$
localePath=$$$$LOCALE_FETCH_PATH$$$$</properties>
    </hudson.tasks.Ant>
    <hudson.tasks.Shell>
      <command>rm -v *.deb
cd gigi
[ -f doc/scripts/genchangelog ] &amp;&amp; doc/scripts/genchangelog
dpkg-buildpackage -b -us -uc</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>gigi/natives/*.so,gigi/gigi*.jar,*.deb,gigi/cocoReport/**,gigi/merged.exec,gigi/messages.po</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.20">
      <testResults>gigi/junit/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>
