Subject: <?=_Mail Probe?>

<?=_Thanks for signing up with ${appName}, below is the link you need to open to verify your account. Once your account is verified you will be able to start issuing certificates to your heart's content!?>

<?=$link?>
