<form method='post'>
<table class="table">
<tr><td>
Batch Create Users:
</td><td></td><td>
<div>
  Email:
  <input type="text" name="prefix"/> NNN@
  <input type="text" name="suffix"/>
</div>
Amount:  <input type="slider" name="amount"/> <input type="submit" name="create" value="Create Users"/>
</td></tr>

<tr><td>
Add Privilege:
</td><td>
Email: <input type="text" name="email"/>
</td><td>
<select name="priv">
<option>supporter</option>
<option>blocked-applicant</option>
<option>blocked-agent</option>
<option>blocked-login</option>
<option>ttp-agent</option>
<option>ttp-applicant</option>
<option>nucleus-agent</option>
<option>codesigning</option>
<option>org-agent</option>
</select>
<input type="submit" name="addpriv" value="Grant Privilege"/>
<input type="submit" name="delpriv" value="Revoke Privilege"/>
</td><tr>

<tr><td>
Receive Mails:
</td><td>
Email: <input type="text" name="femail"/>
</td><td>
<input type="submit" value="Receive Mails" name="fetch"/>
</td><tr>

<tr><td>
Add Qualifying Challenge Entry:
</td><td>
Email: <input type="text" name="catsEmail"/>
</td><td>
<select name="catsType">
<? foreach($cats_types) { ?>
<option value="<?=$id?>"><?=$name?></option>
<? } ?>
</select>
<input type="submit" value="Add Challenge" name="cats"/>
<input type="submit" value="Set Challenge expired" name="catsexpire"/>
</td></tr>
<tr><td>
Add 100 Verification Points:
</td><td>
Email: <input type="text" name="verifyEmail"/>
</td><td>
Verification Points to issue to preferred name: </br>
<input type="text" name="verificationPoints" value="100"/> <input type="submit" value="Add Points" name="verify"/>

</td></tr>

<tr><td>
Verify 25 Others (get 100 Experience Points):
</td><td>
Email: <input type="text" name="letverifyEmail"/>
</td><td>
<input type="submit" value="Add 100 Experience Points" name="letverify"/>
</td></tr>

<tr><td>
Add Verified Email:
</td><td>
Email: <input type="text" name="addEmailEmail"/>
</td><td>
New Email: <input type="text" name="addEmailNew"/>
<input type="submit" value="Add Verified Email" name="addEmail"/>
</td></tr>

<tr><td>
Add Client Cert:
</td><td>
Email: <input type="text" name="addCertEmail"/>
</td><td>
<input type="submit" value="Add a Certificate" name="addCert"/>
</td></tr>

<tr><td>
Exempt Domain from Pinging:
</td><td>
</td><td>
Domain: <input type="text" name="exemptDom"/>
<input type="submit" value="Exempt this domain from pings" name="addExDom"/>
<input type="submit" value="Do not exempt this domain from pings" name="delExDom"/>
</td></tr>
</table>

<table class="table">
<tr><th colspan="2">
Test Server Settings
</th></tr>

<tr><td>
Time for valid tests
</td><td>
<?=$testValidMonths?> months
</td></tr>

<tr><td>
Time between two verifications
</td><td>
<?=$reverificationDays?> days
</td></tr>

<tr><td>
Time that a verification is considered recent
</td><td>
<?=$verificationFreshMonths?> months
</td></tr>

<tr><td>
Maximum time that a verification is accepted
</td><td>
<?=$verificationMaxAgeMonths?> months
</td></tr>

<tr><td>
Maximum time before reping of email address needed
</td><td>
<?=$emailPingMonths?> months
</td></tr>
</table>
