<div class='loginbox'>
<h1><?=_Login?></h1>
<p class='smalltext'><?=_Warning! This site requires cookies to be enabled to ensure your privacy and security. This site uses session cookies to store temporary values to prevent people from copying and pasting the session ID to someone else exposing their account, personal details and identity theft as a result.?></p>
<label for="username"><?=_Email Address?>:</label><input class="form-control" type='text' name="username" required/><br />
<label for="password"><?=_Pass Phrase?>:</label><input class="form-control" type='password' name='password' required/><br />
<button type='submit' name="process" value="Login" class="btn btn-primary"><?=_Login?></button><br /><br />
<p class='smalltext'><?=_If you are having trouble with your username or password, please visit our !'<a href="http://wiki.cacert.org/wiki/FAQ/LostPasswordOrAccount" target="_new">'wiki page!'</a>' for more information?></p>
</div>
