<?=_Verify this element:?>
<input type="hidden" name="hash" value="<?=$hash?>"/>
<input type="hidden" name="type" value="<?=$type?>"/>
<input type="hidden" name="id" value="<?=$id?>"/>
<input type="submit" value="OK"/>
