[Unit]
Description=Gigi Webserver module
Documentation=man:gigi.properties(5)
Wants=postgresql@9.4-main.service
After=postgresql@9.4-main.service
Conflicts=gigi-standalone.service
PartOf=gigi-proxy.socket

[Service]
ExecStart=/usr/bin/java -cp /usr/share/java/postgresql-jdbc4.jar:/usr/share/java/dnsjava.jar:/usr/share/java/gigi.jar club.wpia.gigi.Launcher /etc/wpia/gigi/conf.tar
StandardInput=socket
StandardOutput=journal
StandardError=journal
WorkingDirectory=/var/lib/wpia-gigi
User=gigi
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
Also=gigi-proxy.socket
