#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with=systemd

build:
	ant pack pack-testing

override_dh_auto_clean:
	echo i dont clean

override_dh_installinit:
	dh_installinit --name=cacert-gigi
	dh_installinit --name=cacert-gigi-signer

override_dh_auto_build: build

override_dh_auto_install:
	DESTDIR=debian/cacert-gigi ant install
	DESTDIR=debian/cacert-gigi-testing ant install-testing
	DESTDIR=debian/cacert-gigi-setuid ant install-native

