host=127.0.0.1
name.static=static.cacert.local
name.secure=secure.cacert.local
name.www=www.cacert.local
port=443
#emailProvider=org.cacert.gigi.email.Sendmail
emailProvider=org.cacert.gigi.email.CommandlineEmailProvider
sql.driver=com.mysql.jdbc.Driver
sql.url=jdbc:mysql://
sql.user=
sql.password=
