type=local
serverPort.https=443
serverPort.http=80
mail=localhost:8474

# ==== OR ===
type=autonomous
java=java -cp bin;/path/to/mysqlConnector.jar org.cacert.gigi.TestLauncher
serverPort.https=4443
serverPort.http=8098
mailPort=8473




# ==== ALL ===
name.static=static.cacert.local
name.secure=secure.cacert.local
name.www=www.cacert.local
name.api=api.cacert.local
sql.driver=org.postgresql.Driver
#sql.driver=com.mysql.jdbc.Driver
sql.url=jdbc:postgresql://localhost/cacert
#sql.url=jdbc:mysql://localhost:3306/cacert
sql.user=cacert
sql.password=<password>


domain.manage=http://you-installation-of-the/index.php
domain.http=you-intstallation-for-the-textfiles
domain.dnstest=the.dns.zone
domain.testns=the.authorativ.ns.for.domain.dnstest
domain.local=a.domain.that.resolves.to.localhost


email.address=somemail@yourdomain.org
email.password=somemails-imap-password
email.imap=imap.yourdomain.org
email.imap.user=somemail-imap-useraccount
email.non-address=some-non-existent-domain@yourdomain.org
