type=local
server=localhost:443
mail=localhost:8474

# ==== OR ===
type=autonomous
java=java -cp bin;/path/to/mysqlConnector.jar org.cacert.gigi.Launcher
serverPort=4443
mailPort=8473




# ==== ALL ===
name.static=static.cacert.local
name.secure=secure.cacert.local
name.www=www.cacert.local
name.api=api.cacert.local
sql.driver=com.mysql.jdbc.Driver
sql.url=jdbc:mysql://localhost:3306/cacert
sql.user=cacert
sql.password=<password>
