type=local
serverPort.https=443
serverPort.http=80
mail=localhost:8474

# ==== OR ===
type=autonomous
java=java -cp bin;/path/to/mysqlConnector.jar org.cacert.gigi.Launcher
serverPort.https=4443
serverPort.http=8098
mailPort=8473




# ==== ALL ===
name.static=static.cacert.local
name.secure=secure.cacert.local
name.www=www.cacert.local
name.api=api.cacert.local
sql.driver=com.mysql.jdbc.Driver
sql.url=jdbc:mysql://localhost:3306/cacert
sql.user=cacert
sql.password=<password>


domain.dnsmanage=http://you-installation-of-the/index.php
domain.dnstest=the.dns.zone
domain.testns=the.authorativ.ns.for.domain.dnstest
