<h2><?=_Ping log for '${domainname}'?></h2>
<table class="table">
<tr><th><?=_Type?></th>
<th><?=_State?></th>
<th><?=_Config?></th>
<th><?=_Result?></th>
<th><?=_Execution Date?></th>
<th><?=_Reping?></th></tr>
<? foreach($pings) { ?>
<tr>
<td><?=$type?></td>
<td><?=$state?></td>
<td><?=$config?></td>
<td><?=$result?></td>
<td><?=$date?></td>
<td><button name='configId' class='btn btn-primary' value="<?=$configId?>"><?=_Re-execute?></button></td>
</tr>
<?}?>
</table>

