<label for="newdomain"><?=_Domain?>: </label><input class="form-control" type="text" name="newdomain" value="" required> (<?=_In the following:?> <span class='exampleDomainPlace'>example.org</span>)

<?=$pingconfig?>
<button type="submit" name="adddomain" class="btn btn-primary"><?=_I own or am authorised to control this domain?></button>
