<table class="table">
  <tr>
    <td><?=_Email Addresses?> </td>
    <td><input class="form-control" type="text" name="newemail" value="" required></td>
  </tr>
  <tr>
    <td colspan="2"><input class="btn btn-primary" type="submit" name="addmail" value="<?=_I own or am authorised to control this email address?>"></td>
  </tr>
</table>
