<?=_The Root certificate is available for download here. Choose your preferred format:?><br/>
<a href="?pem">PEM</a> <a href="?cer">DER</a>
<p>
<?=_A full list of all DER-encoded intermediate certificates is provided below:?>
</p>
<div>
<?=$root?>
</div>
