<?=_The Root certificates are available for download here. Choose your preferred format:?><br/>
<a href="?pem">PEM</a> <a href="?cer">DER</a>
<p>
<?=_A full list of DER-encoded certificates is also provided below.?>
</p>
<div>
<?=$root?>
</div>
