<table class="table">
  <tbody><tr>
    <th colspan="2"><?=_Find User by Email?></th>
  </tr>
  <tr>
    <td><?=_Email?>:</td>
    <td><input class="form-control" name="email" value="" size="30" title="<?=_use % as wildcard?>" placeholder="<?=_use % as wildcard?>" type="text" required/></td>
  </tr>
  <tr>
    <td colspan="2"><input class="btn btn-primary" name="process" value="<?=_Next?>" type="submit"/></td>
  </tr>
</tbody></table>
