<table class="table">
  <tbody><tr>
    <th colspan="2"><?=_Find User by Domain?></th>
  </tr>
  <tr>
    <td><?=_Domain?>:</td>
    <td><input class="form-control" type="text" value="" name="domain" placeholder="<?=_For search by ID use # prefix e.g. #123456?>"></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" value="<?=_Next?>" name="process"></td>
  </tr>
</tbody>
</table>
