<?=$details?>
<table class="table">
        <tbody><tr>
            <th><?=_Alternate Verified Email Addresses?></th>
        </tr>
        <? foreach($emails) {?>
        <tr>
            <td><?=$secmail?></td>
        </tr>
        <? } ?>
        </tbody>
</table>
<?=$certifrevoke?>
