<form method="POST">
<table class="table">
  <thead>
  <tr>
    <th colspan="2" class="title"><?=_Assure Someone?></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><?=_Email?>: </td>
    <td><input class="form-control" type="text" name="email"></td>
  </tr>
  <tr>
    <td><?=_Date of Birth?><br>
	    (<?=_yyyy-mm-dd?>)</td>
    <td><?=$DoB?></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="search" value="<?=_Next?>"></td>
  </tr>
  </tbody>
</table>
</form>
