<?=$pointlist?>
<h2><?=_Verification Points You Issued?></h2>
<?=$madelist?>

<?=_Verification points?>: <?=$assP?><br/>
<? if($expP) { ?>
<?=_Experience points?>: <?=$expP?><br/>
<?=_Max points to issue?>: <?=$maxP?><br/>

<? } ?>
