<a href='<?=$serial?>.crt'><?=_PEM encoded Certificate?></a><br/>
<a href='<?=$serial?>.cer'><?=_DER encoded Certificate?></a><br/>
<a href='<?=$serial?>.cer?install'><?=_Install into browser.?></a><br/>
<pre>
<?=$cert?>
</pre>
