<a href="?" class="btn <?=$current?>"><?=_Show Current Certificates?></a> <a href="?withRevoked" class="btn <?=$all?>"><?=_Show All Certificates?></a>
<?=$certTable?>
<button class="btn btn-danger" name="action" value="revoke"><?=_Revoke Selected Certificates?></button>
