<p><?=_Multiple certificates?>: <?=$limit?></p>
<table class="table">
<tr>
<th>Id</th><th><?=_Serial number?></th><th><?=_SAN?></th></tr>
<? foreach($certtable) {?>
  <tr>
    <td><a href="/support/certs/<?=$serial?>"><?=$id?></a></td>
    <td><a href="/support/certs/<?=$serial?>"><?=$serial?></a></td>
    <td>
    <? foreach($san) {?>
       <?=$entry?>
    <? } ?>
    </td>
  </tr>
<? } ?>
</table>
