<p><?=_Multiple certificates?>: <?=$limit?></p>
<table class="table">
<tr>
<th><?=_Serial number?></th><th><?=_SAN?></th><th><?=_Revocation Date?></th></tr>
<? foreach($certtable) {?>
  <tr>
    <td><a href="/support/certs/<?=$serial?>"><?=$serial?></a> <?=$draftinfo?></td>
    <td>
    <? foreach($san) {?>
       <?=$entry?>
    <? } ?>
    </td>
    <td><?=$revoked?></td>
  </tr>
<? } ?>
</table>
