<button class="btn btn-primary" type="submit" name="new-val" value="enable"<?=$enable?>><?=_Enable Find-Assurer Access?></button>
<button class="btn btn-primary" type="submit" name="new-val" value="disable"<?=$disable?>><?=_Disable Find-Assurer Access?></button>
