<table class="table">
<tbody>
<tr><th><? if($username) { ?><?=_Support actions for ${username}?><? } else { ?><?=_Support actions?><? } ?></th></tr>
<? foreach($entries) { ?>
<tr><td><?=$entry?></td></tr>
<? } ?>
</tbody>
</table>

