<table class="table">
  <tbody>
  <tr>
    <td><?=_Date of Birth?><br>
	    (<?=_yyyy-mm-dd?>)</td>
    <td><?=$DoB?></td>
  </tr>
  <tr>
    <td colspan="2" class="title"><a href="/account/history"><?=_Show account history?></a></td>
  </tr>
  </tbody>
</table>
