<div class="panel panel-default">
  <div class="panel-heading"><?=_Date of Birth?></div>
  <div class="panel-body">
   <?=$DoB?>
   <button class="btn btn-primary pull-right" name="action" value="updateDoB"><?=_Update Date of Birth?></button>
  </div>
</div>
<a href="/account/history"><?=_Show account history?></a>
