<table class="table">
<tbody>
<tr><th><? if($username) { ?><?=_Trainings of ${username}?><? } else { ?><?=_Trainings?><? } ?></th></tr>
<? foreach($entries) { ?>
<tr><td><?=$entry?></td></tr>
<? } ?>
</tbody>
</table>

