Subject: <?=_Verification entered by you?>

<?=_Hi?>,

<?=_You entered a verification for the account with email address ${email}.?>
<?=_You granted ${points} Verification Points to the following verified name(s):?>

<? foreach($names) { ?>\
<?=_${name}?>
<? } ?>\

<?=_You meet the Applicant on ${date} at ${location}, ${country}.?>
