<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <link rel="alternate" type="application/rss+xml" title="Newsfeed" href="//blog.SomeCA.org/feed"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><?=_SomeCA?> - <?=$title?></title>
        <meta name="description" content="">
        <link rel="stylesheet" href="<?=$static?>/css/jquery-ui-timepicker-addon.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="<?=$static?>/css/bootstrap.min.css">
        <link rel="stylesheet" href="<?=$static?>/css/cacert.css">

        <script src="<?=$static?>/js/jquery.min.js"></script>
        <script src="<?=$static?>/js/bootstrap.min.js"></script>
        <script src="<?=$static?>/js/expert.js"></script>
        <script src="<?=$static?>/js/localDate.js"></script>
    </head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only"><?=_Toggle navigation?></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><?=_SomeCA Frontend?></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <?=$menu?>
      </ul>
      <ul class="nav navbra-nav navbar-right">
      <li><p class="navbar-text"><? if($authContext) { ?><?=$authContext?><? } ?></p></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="container">
		
			<h1 class="page-header"><?=$title?></h1>
			<div class="content"><?=$content?></div>
	</div>
	<hr/>
		<div id="siteInfo">
            Page info
			<!-- <a href="//wiki.cacert.org/FAQ/AboutUs"><?=_About Us?></a> |
			<a href="/index.php?id=13"><?=_Donations?></a> |
			<a href="//wiki.cacert.org/wiki/CAcertIncorporated"><?=_Association Membership?></a> |
			<a href="/policy/PrivacyPolicy.html"><?=_Privacy Policy?></a> |
			<a href="/index.php?id=51"><?=_Mission Statement?></a> |
			<a href="/index.php?id=11"><?=_Contact Us?></a> --> |
			©2016-<?=$year?> SomeCA
		</div>

</body>
</html>
