<!DOCTYPE html>
<html>
<head>
<title><?=$title?></title>
<link rel="stylesheet" href="https://<?=$static?>/default.css" type="text/css">
<script src="https://<?=$static?>/menu.js"></script>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
	<div id="pagecell1">
		<div id="pageName">
			<br>
			<div id="pageLogo">
				<a href="/"><img src="https://<?=$static?>/images/cacert4.png"
					alt="CAcert.org logo"></a>
			</div>
			<div id="googlead">
				<h2><?=_Free digital certificates!?></h2>
			</div>
		</div>
		<div id="pageNav">
			<div>
				<h3>CAcert.org beitreten</h3>
				<a href="/register">Beitreten</a> <a
					href="/policy/CAcertCommunityAgreement.php">Vereinbarung der
					Gemeinschaft (Community Agreement)</a> <a href="/index.php?id=3">Stammzertifikat</a>
			</div>
			<div>
				<h3 class="pointer">Mein Konto</h3>
				<a href="/login">Anmelden mit
					Kennwort</a> <a href="">Kennwort
					vergessen</a> <a
					href="https://www.cacert.org/index.php?id=4&amp;noauto=1">Anmelden
					im Net-Cafe</a> <a href="/login">Anmelden
					mit Zertifikat</a>
			</div>
			<?=$menu?>
			<div>
				<h3 class="pointer">+ Über CAcert.org</h3>
				<ul class="menu hidden" id="misc">
					<li><a href="//blog.cacert.org/">CAcert-Nachrichten</a></li>
					<li><a href="//wiki.CAcert.org/">Wiki-Dokumentation</a></li>
					<li><a href="/policy/">Richtlinien</a></li>
					<li><a href="//wiki.cacert.org/FAQ/Privileges">Punkte-System</a></li>
					<li><a href="//bugs.CAcert.org/">Fehler-Datenbank</a></li>
					<li><a href="/stats.php">CAcert-Statistik</a></li>
					<li><a href="//blog.CAcert.org/feed/">RSS-Nachrichten-Feed</a></li>
					<li><a href="//wiki.cacert.org/Board">CAcert-Vorstand</a></li>
					<li><a href="//lists.cacert.org/wws">Mailinglisten</a></li>
					<li><a href="/src-lic.php">Quellcode</a></li>
				</ul>
			</div>

			<div>
				<h3 class="pointer">+ <?=_Translations?></h3>
				<ul class="menu hidden" id="trans">
					<li><a href="/index.php?id=0&amp;lang=ar">العربية</a></li>
					<li><a href="/index.php?id=0&amp;lang=bg">Български</a></li>
					<li><a href="/index.php?id=0&amp;lang=cs">Čeština</a></li>
					<li><a href="/index.php?id=0&amp;lang=da">Dansk</a></li>
					<li><a href="/index.php?id=0&amp;lang=de">Deutsch</a></li>
					<li><a href="/index.php?id=0&amp;lang=el">Ελληνικά</a></li>
					<li><a href="/index.php?id=0&amp;lang=en">English</a></li>
					<li><a href="/index.php?id=0&amp;lang=es">Español</a></li>
					<li><a href="/index.php?id=0&amp;lang=fi">Suomi</a></li>
					<li><a href="/index.php?id=0&amp;lang=fr">Français</a></li>
					<li><a href="/index.php?id=0&amp;lang=hu">Magyar</a></li>
					<li><a href="/index.php?id=0&amp;lang=it">Italiano</a></li>
					<li><a href="/index.php?id=0&amp;lang=ja">日本語</a></li>
					<li><a href="/index.php?id=0&amp;lang=lv">Latviešu</a></li>
					<li><a href="/index.php?id=0&amp;lang=nl">Nederlands</a></li>
					<li><a href="/index.php?id=0&amp;lang=pl">Polski</a></li>
					<li><a href="/index.php?id=0&amp;lang=pt">Português</a></li>
					<li><a href="/index.php?id=0&amp;lang=pt-br">Português
							Brasileiro</a></li>
					<li><a href="/index.php?id=0&amp;lang=ru">Русский</a></li>
					<li><a href="/index.php?id=0&amp;lang=sv">Svenska</a></li>
					<li><a href="/index.php?id=0&amp;lang=tr">Türkçe</a></li>
					<li><a href="/index.php?id=0&amp;lang=zh-cn">中文(简体)</a></li>
					<li><a href="/index.php?id=0&amp;lang=zh-tw">中文(臺灣)</a></li>
				</ul>
			</div>
			<div>
				<h3 class="pointer"><?=_Advertising?></h3>
				<ul class="menu hidden" id="recom"></ul>
			</div>
		</div>
		<div id="content">
			<h1><?=$title?></h1>
			<div class="content"><?=$content?></div>
		</div>
		<div class="sponsorinfo">
			<?=_CAcert operations are sponsored by?>
			<a href="http://www.bit.nl/" target="_blank">
				<img class="sponsorlogo" src="https://<?=$static?>/images/bit.png" alt="[BIT logo]">
			</a>
			<a href="http://www.tunix.nl/" target="_blank">
				<img class="sponsorlogo" src="https://<?=$static?>/images/tunix.png" alt="[TUNIX logo]">
			</a>
			<a href="http://www.nlnet.nl/" target="_blank">
				<img class="sponsorlogo" src="https://<?=$static?>/images/nlnet.png" alt="[NLnet logo]">
			</a>
			<a href="http://www.openarchitecturenetwork.org/" target="_blank">
				<img class="sponsorlogo" src="https://<?=$static?>/images/oan.png" alt="[OAN logo]">
			</a>
		</div>

		<div id="siteInfo">
			<a href="//wiki.cacert.org/FAQ/AboutUs"><?=_About Us?></a> |
			<a href="/index.php?id=13"><?=_Donations?></a> |
			<a href="//wiki.cacert.org/wiki/CAcertIncorporated"><?=_Association Membership?></a> |
			<a href="/policy/PrivacyPolicy.html"><?=_Privacy Policy?></a> |
			<a href="/index.php?id=51"><?=_Mission Statement?></a> |
			<a href="/index.php?id=11"><?=_Contact Us?></a> |
			©2002-<?=$year?> <?=_by CAcert?>
		</div>
	</div>
</body>
</html>
