<!DOCTYPE html>
<html>
<head>
<title><?=$title?></title>
<link rel="stylesheet" href="<?=$static?>/default.css" type="text/css">
<script src="<?=$static?>/menu.js"></script>
<link rel="alternate" type="application/rss+xml" title="Newsfeed" href="//blog.CAcert.org/feed">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
	<div id="pagecell1">
		<div id="pageName">
			<br>
			<div id="pageLogo">
				<a href="/"><img src="<?=$static?>/images/cacert4.png"
					alt="CAcert.org logo"></a>
			</div>
			<div id="googlead">
				<h2><?=_Free digital certificates!?></h2>
			</div>
		</div>
		<div id="pageNav">
			<? if($authContext) { ?><div><?=$authContext?></div><? } ?>
			<?=$menu?>
			<div>
				<h3 class="pointer"><?=_Advertising?></h3>
				<ul class="menu hidden" id="recom"></ul>
			</div>
		</div>
		<div id="content">
			<h1><?=$title?></h1>
			<div class="content"><?=$content?></div>
		</div>
		<div class="sponsorinfo">
			<?=_CAcert operations are sponsored by?>
			<a href="http://www.bit.nl/" target="_blank">
				<img class="sponsorlogo" src="<?=$static?>/images/bit.png" alt="[BIT logo]">
			</a>
			<a href="http://www.tunix.nl/" target="_blank">
				<img class="sponsorlogo" src="<?=$static?>/images/tunix.png" alt="[TUNIX logo]">
			</a>
			<a href="http://www.nlnet.nl/" target="_blank">
				<img class="sponsorlogo" src="<?=$static?>/images/nlnet.png" alt="[NLnet logo]">
			</a>
			<a href="http://www.openarchitecturenetwork.org/" target="_blank">
				<img class="sponsorlogo" src="<?=$static?>/images/oan.png" alt="[OAN logo]">
			</a>
		</div>

		<div id="siteInfo">
			<a href="//wiki.cacert.org/FAQ/AboutUs"><?=_About Us?></a> |
			<a href="/index.php?id=13"><?=_Donations?></a> |
			<a href="//wiki.cacert.org/wiki/CAcertIncorporated"><?=_Association Membership?></a> |
			<a href="/policy/PrivacyPolicy.html"><?=_Privacy Policy?></a> |
			<a href="/index.php?id=51"><?=_Mission Statement?></a> |
			<a href="/index.php?id=11"><?=_Contact Us?></a> |
			©2002-<?=$year?> <?=_by CAcert?>
		</div>
	</div>
</body>
</html>
