<button class="btn btn-primary" type="submit" name="new-val" value="enable"<?=$enable?>><?=_Enable Find-RA-Agent Access?></button>
<button class="btn btn-primary" type="submit" name="new-val" value="disable"<?=$disable?>><?=_Disable Find-RA-Agent Access?></button>
