<div class="panel panel-default">
  <div class="panel-heading"><?=_RA Agents Contract?></div>
  <div class="panel-body">

	<p>This contract concludes an agreement between</p>

	<p>Name: <?=$raname?> - RA Agent hereafter -</p>

	<p>and</p>

	<p>SomeCA - CA hereafter -</p>
	<p>SomeAddress</p>

	<p>regarding the conduction of registration authority tasks.</p>

	<p>signed <?=$csdate?></p>
  </div>
</div>
