<div class="panel panel-default">
  <div class="panel-heading"><?=_Date of Birth?></div>
  <div class="panel-body">
   <?=$DoB?>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><?=_Residence Country?></div>
  <div class="panel-body">
   <?=$residenceCountry?>
   <button class="btn btn-primary pull-right" name="action" value="updateResidenceCountry"><?=_Update Residence Country?></button>
  </div>
</div>
<a href="/account/history"><?=_Show account history?></a>
