<div class="panel panel-default">
  <div class="panel-heading"><?=_RA Agents Contract?></div>
  <div class="panel-body">
   <button class="btn btn-info" name="action" value="viewContract"><?=_View RA Agent Contract?></button>
   <button class="btn btn-primary" name="action" value="signContract" <?=$contractsign?> ><?=_Sign RA Agent Contract?></button>
   <button class="btn btn-danger" name="action" value="revokeContract" <?=$contractrevoke?> ><?=_Revoke RA Agent Contract?></button>
  </div>
</div>
